<%= form_with(model: enrollment, local: true) do |form| %>
<% if enrollment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

  <ul>
    <% enrollment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :student_id %>
  <%= form.collection_select :student_id, Student.all, :id, :student_id %>
</div>

<div class="field">
  <%= form.label :course_id %>
  <%= form.collection_select :course_id, Course.all, :id, :course_id %>
</div>

<div class="field">
  <%= form.label :percentage %>
  <%= form.text_field :percentage, id: :enrollment_percentage %>
</div>

<div class="field">
  <%= form.label :lettergrade %>
  <%= form.text_field :lettergrade, id: :enrollment_lettergrade %>
</div>


<div class="actions">
  <%= form.submit %>
</div>
<% end %>
