<% @coursesList = [] %>
<% @descriptionsList = [] %>

<% def courseNdescriptionArray %>
     <% File.open("data/courses.txt").each do|line| %>
        <% @coursesList << line.strip %>
      <% end %>

      <% File.open("data/descriptions.txt").each do |line| %>
        <% @descriptionsList << line.strip %>
        <% end %>
   <% end %>
      <% @course_list = courseNdescriptionArray %>
      <% @description_list = courseNdescriptionArray %>

<%= form_for @course do |form| %>

  <div class="field">
    <h3>Course ID</h3>
    <%= "Choose a course ID from the drop-down list." %> 
    <%= form.collection_select :course_id, @coursesList, :to_s, :to_s %> 
    </div>

  <div class="field">
    <h3>Description</h3>
      <%# form.label :description %>
      <%= form.text_area(:description, value: "No description available") %> <%= "Write a description or \"No description available\" will be assigned." %>
    </div>

    <div>
      <%= form.submit %>
    </div>

<% end %>




<!-- <%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :course_course_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :course_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

-->



