<% @coursesList = [] %>
<% @descriptionsList = [] %>

<% def courseNdescriptionArray %>
     <% File.open("data/courses.txt").each do|line| %>
        <% @coursesList << line.strip %>
      <% end %>

      <% File.open("data/descriptions.txt").each do |line| %>
        <% @descriptionsList << line.strip %>
        <% end %>
   <% end %>
      <% @course_list = courseNdescriptionArray %>
      <% @description_list = courseNdescriptionArray %>

<%= form_for @course do |form| %>

  <div class="field">
    <h3>Course ID</h3>
    <%= "Choose a course ID from the drop-down list." %> 
    <%= form.collection_select :course_id, @coursesList, :to_s, :to_s %> 
    </div>

  <div class="field">
    <h3>Description</h3>
      <%# form.label :description %>
      <%= form.text_area(:description, value: "No description available") %> <%= "Write a description or \"No description available\" will be assigned." %>
    </div>

    <div>
      <%= form.submit %>
    </div>

<% end %>
