<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag "calculate" %>
	<%= stylesheet_link_tag "histogram" %>
</head>
<body  onload="histogram()">

	<script>
		var rubyGrades = <%= @getGrades.to_json %>;
		assignGrade(rubyGrades);
	</script>

	<h>Histogram Generator</h>
	<p class="errorMessage" id="main"></p>
	<div class="blue box" id="gradesWeight">
		<div class="blue box" id="grades">
			<%= form_tag(:controller => "courses", :action => "updateLetterGrades", :method => "POST") do %>
			<p class = "errorMessage" id= "entry">Lower bound</p>
			<label for="Max" class="FormCSS" id="maxe">Max</label>
			<input type="text" name="Max" id="Max" value="100" class="FormInput" readonly>

			<label for="A+" class="FormCSS" id="Ape">A+</label>
			<input type="text"  name="Ap" id="Ap" value="95.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="AA" class="FormCSS" id="Ae">A</label>
			<input type="text" name="A" id="A" value="90.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="A-" class="FormCSS" id="Ame">A-</label>
			<input type="text" name="Am" id="Am" value="85.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="B+" class="FormCSS" id="Bpe">B+</label>
			<input type="text" name="Bp" id="Bp" value="80.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="BB" class="FormCSS" id="Be">B</label>
			<input type="text" name="B" id="B" value="75.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="B-" class="FormCSS" id="Bme">B-</label>
			<input type="text" name="Bm" id="Bm" value="70.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="C+" class="FormCSS" id="Cpe">C+</label>
			<input type="text" name="Cp" id="Cp" value="65.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="CC" class="FormCSS" id="Ce">C</label>
			<input type="text" name="C" id="C" value="60.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="C-" class="FormCSS" id="Cme">C-</label>
			<input type="text" name="Cm" id="Cm" value="55.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">

			<label for="DD" class="FormCSS" id="De">D</label>
			<input type="text" name="D" id="D" value="50.00" class="FormInput" min="0" onkeypress="createGradeEntry(this.id)" onkeyup="createGradeEntry(this.id)" onchange="calculateStanding(this.id)">	

			<label for="FF" class="FormCSS" id="Fe">F</label>
			<input type="text" name="F" id="F" value="0.00" class="FormInput" readonly>

			<%= submit_tag "Submit" %>
				
			</script>
			<% end %>
		</div>
	</div>
	<div class="blue box" id="histogram">
		<p class = "errorMessage" id= "hist">Histogram</p>
		<table class="ralign">
			<tr id="rAp">
				<td class='grades' id="Apr">A+</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rA">
				<td class='grades' id="Ar">A</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rAm">
				<td class='grades' id="Amr">A-</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rBp">
				<td class='grades' id="Bpr">B+</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rB">
				<td class='grades' id="Br">B</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rBm">
				<td class='grades' id="Bmr">B-</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rCp">
				<td class='grades' id="Cpr">C+</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rC">
				<td class='grades' id="Cr">C</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rCm">
				<td class='grades' id="Cmr">C-</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rD">
				<td class='grades' id="Dr">D</td>
			</tr>
		</table>
		<table class="ralign">
			<tr id="rF">
				<td class='grades' id="Fr">F</td>
			</tr>
		</table>
	</div>

</body>
</html>
